/nbproject/private/
/[[]document]/
/chrome-extension.pem
/chrome-extension.crx
/chrome-extension.zip
/styles/css/toolbar.css
/styles/css/setting.css.map
/styles/css/global.css
/styles/css/submit.css.map
/styles/css/global.css.map
/styles/css/submit.css
/styles/css/setting.css
/styles/css/toolbar.css.map